.env

deprecated/
node_modules/
images/


lovenotes.js
codenotes.txt
database.sqlite
command_list.docx
wordStart.js
messageCreate.js
util/modal_maker.js
util/hydration_helper.js
test.js
util/json_safety_checker.js
