# Do not commit enviroment variables
.env

# Do not commit config file
config.json

# Do not commit deprecated directory
deprecated/

# Do not commit images directory
images/

# Do not commit TypeScript build directory
build/

# Do not commit dependencies
node_modules/